<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>QL_DienMayXanh</title>
    <link rel="shortcut icon" type="image/x-icon" href="/lib/logo_DMXfake.ico" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/CustomerLayout_Styles.css" />
    <link rel="stylesheet" href="~/css/Home_Styles.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/owlCaroousel/owl.theme.default.css" />
    <link rel="stylesheet" href="~/lib/owlCaroousel/owl.carousel.css" />


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,700&display=swap" />


</head>
<body>
    <div class="main">
        <div class="header h-auto wrapper-header" style="font-size:1.4rem">
            <div class="top-header container">
                <div class="row">
                    <div class="col-6">
                        <div class="top-header-left">
                            <div class="top-header-item">
                                <a href="#">Địa điểm / Tồn Kho</a>
                            </div>
                            <div class="top-header-item">
                                <a href="#">Hỗ trợ: **********</a>

                            </div>
                        </div>

                    </div>
                    <div class="col-6">
                        <div class="top-header-right">
                            <div class="top-header-item">
                                <a href="#">Giới Thiệu</a>
                            </div>
                            <div class="top-header-item">
                                <a href="#">Dịch vụ</a>

                            </div>
                            <div class="top-header-item">
                                <a href="#">FAQ</a>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="header-wrapper container">
                <div class="top-header-wrapper">
                    <div class="row top-header-wrapper-item align-items-center">
                        <div class="col-3">
                            <h1 style="color: #fff200;">ĐIENMAYXANH</h1>
                            @*<img src="~/img/logohead.png" />*@
                        </div>
                        <div class="col-5">
                            <div class="row">
                                <div class="col input-group">
                                    <input type="text" class="form-control border rounded" style="height:32px; font-size:14px" placeholder="Nhập sản phẩm..." aria-label="search-product">
                                    <div class="input-group-append btn-search">
                                        <button class="btn btn-item" type="button">
                                            <i class="fa-solid fa-magnifying-glass" style="color:black; font-size:14px"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row justify-content-end align-items-center" style="padding: 15px">
                                <div class="d-flex justify-content-end m-0">
                                    <div class="px-3 py-3 w-auto text-center list-unstyled text-light d-flex ">
                                        <a href="#" class="mr-2 " style="color:#fff"><i class="fa-solid fa-cart-shopping" style="font-size:18px"></i></a>

                                    </div>
                                    <div class="p-3 list-unstyled h-100 text-light d-flex">
                                        <div>
                                            <a class="text-decoration-none text-light font-weight-bold" href="">
                                                <i class="fa-solid fa-right-to-bracket" style="font-size:18px"></i>
                                                <span>
                                                    Login/QL
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    @*<div class="findProduct d-flex align-items-center">
                                            <div class="dropdown show">
                                                <a class="dropdown-toggle" style="border:1px solid;border-radius:5px; height:24px" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span style="color:#ffff; font-size:14px; font-weight:500">Tìm Kiếm</span>

                                                </a>

                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    <a class="dropdown-item" href="#">Action</a>
                                                    <a class="dropdown-item" href="#">Another action</a>
                                                    <a class="dropdown-item" href="#">Something else here</a>
                                                </div>
                                            </div>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu-header" style="height:45px">
                    <div class="row align-items-center" style="height:100%">
                        <div class="col-3 menu-header-left">
                            @*<div class="btn-menu row d-flex">
                                    <div class="col-2 text-light text-right">
                                        <i class="fa-solid fa-bars" style="font-size: 18px; line-height: 0; float: left; position: relative; top: 8px;"></i>
                                    </div>
                                    <div class="col-10 text-light pl-0">
                                        <a style="font-size:18px; font-weight:700">Menu</a>
                                    </div>
                                </div>*@
                            <div class="navbar navbar-default" style="display:block; flex-wrap:nowrap; padding:0;" role="navigation">
                                <div class="navbar-header">
                                    <ul class="nav navbar-nav">
                                        <li class="dropdown">
                                            @*<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>*@
                                            <a class="hover-menu" href="#">
                                                <div class="dropdown-toggle btn-menu row d-flex" data-toggle="dropdown">
                                                    <div class="col-2 text-light text-right texthover">
                                                        <i class="fa-solid fa-bars text" style="font-size: 18px; line-height: 0; float: left; position: relative; top: 8px;"></i>
                                                    </div>
                                                    <div class="col-10 text-light texthover pl-0">
                                                        <span class="text" style="font-size:18px; font-weight:700">Menu</span>
                                                    </div>
                                                </div>

                                            </a>
                                            <ul class="dropdown-menu" style="border: 1px solid #f3f3f3; border-radius:10px; opacity:0.8">
                                                <li class="dropdown-menu-item"><a href="#">Tivi, Loa</a></li>
                                                <li class="dropdown-menu-item"><a href="#">Tủ lạnh, Tủ đông</a></li>
                                                <li class="dropdown-menu-item"><a href="#">Máy giặc, Sấy quần áo</a></li>
                                                <li class="dropdown-menu-item"><a href="#">Đồ dùng nhà bếp, Bếp điện</a></li>
                                                <li class="dropdown-menu-item"><a href="#">Phụ kiện, Đồng hồ</a></li>
                                                <li class="dropdown-menu-item"><a href="#">Điện thoại, Laptop</a></li>
                                                <li class="dropdown-menu-item"><a href="#">Điện thoại, Laptop</a></li>
                                                <li class="dropdown-menu-item"><a href="#">Điện thoại, Laptop</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div><!--/.nav-collapse -->
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="row justify-content-start" style="margin-left:-6px">
                                <ul class="d-flex h-auto w-auto m-0 p-2">
                                    <li class="mr-4 w-auto text-center list-unstyled text-light d-flex ">
                                        <div class="mr-2"> <i class="fa-solid fa-house-user"></i></div>
                                        <div class="">
                                            <a class="text-decoration-none text-light font-weight-bold textMenu" href="/Customer/CustomerHome">Home</a>
                                        </div>
                                        @*@Html.ActionLink("Home", "CustomerHome", "Customer");*@
                                    </li>
                                    <li class="mr-4 list-unstyled h-100 text-light d-flex">
                                        <div class="mr-2">
                                            <i class="fa-solid fa-laptop"></i>
                                        </div>
                                        <div>
                                            <a class="text-decoration-none text-light font-weight-bold textMenu" href="/Customer/Product">LapTop/Computer</a>
                                        </div>
                                    </li>
                                    <li class="mr-4 list-unstyled h-100 text-light d-flex">
                                        <div class="mr-2"> <i class="fa-solid fa-mobile"></i></div>
                                        <div>
                                            <a class="text-decoration-none text-light font-weight-bold textMenu" href="#">Điện Thoai</a>
                                        </div>
                                    </li>
                                    <li class="mr-4 list-unstyled h-100 text-light d-flex">
                                        <div class="mr-2"><i class="fa-solid fa-tv"></i></div>
                                        <div>
                                            <a class="text-decoration-none text-light font-weight-bold textMenu" href="">TiVi</a>
                                        </div>
                                    </li>
                                    <li class="mr-4 list-unstyled h-100 text-light d-flex">
                                        <div class="mr-2"><i class="fa-solid fa-kitchen-set"></i></div>
                                        <div>
                                            <a class="text-decoration-none text-light font-weight-bold textMenu" href="">Gia Dụng</a>
                                        </div>
                                    </li>
                                    <li class="mr-4 list-unstyled h-100 text-light d-flex">
                                        <div class="mr-2">
                                            <a class="text-decoration-none text-light font-weight-bold textMenu" href="">Máy Giặt</a>
                                        </div>
                                    </li>
                                    <li class="mr-4 list-unstyled h-100 text-light d-flex">
                                        <div class="mr-2">
                                            <a class="text-decoration-none text-light font-weight-bold textMenu" href="">Máy Lạnh</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="body-wrapper W-100 h-auto">
            @RenderBody()
        </div>
        <div class="container">
            
        </div>
        <div class="footer position-relative " style="background-color: #1154c4;">
            <div class="container">
                &copy; 2022 - QL_DienMayXanh - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- owl carousel -->
    <script type="text/javascript">
        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 0,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                    },
                    768: {
                        items: 2,
                    },
                    1100: {
                        items: 3,
                        loop: false,
                    }
                }
            });
        });

    </script>
    <script src="~/lib/owlCaroousel/owl.carousel.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
